@import "../common/variables";
@import "../common//mixin";

.navigation {
  @include position(fixed, 50%, 50px);
  transform: translateY(-50%);
  z-index: 1000;
  display: none;

  @media screen and (min-width:1200px) {
    display: block;
  }

  &-list {
    text-align: right;
  }

  &-item {
    vertical-align: middle;
    line-height: 1.5;
  }

  &-button {
    position: relative;
    padding-right: 30px;
    letter-spacing: .4px;
    font-family: 'Abril Fatface', serif;
    font-style: italic;
    color: transparent;
    transition: color .4s;

    &:hover {
      color: $lightText;

      @media (prefers-color-scheme: dark) {
        color: $darkText;
      }
    }

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: block;
      background-color: $lightBoarder;
      height: 1px;
      width: 20px;
      content: '';

      @media (prefers-color-scheme: dark) {
        background-color: $darkBoarder;
      }

      @at-root .navigation-item:nth-child(even) & {
        width: 12px;
      }
    }

    @at-root .active & {
      color: $lightText;

      &::after {
        background-color: $lightText;
      }

      @media (prefers-color-scheme: dark) {
        color: $darkText;

        &::after {
          background-color: $white;
        }
      }
    }
  }
}