@import "../common/variables";
@import "../common//mixin";

.stack {
  &-area {
    position: relative;
  }

  &-visual-image {
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    display: none;

    @media screen and (min-width:1200px) {
      display: block;
    }
  }

  &-title {
    font-size: 32px;
    line-height: 1;
    border-bottom: 7px solid $lightText;
    text-transform: uppercase;
    display: inline-block;

    @media screen and (min-width:992px) {
      font-size: 44px;
    }

    @media screen and (min-width:1200px) {
      @include position(absolute, 350px, null, null, 10px);
    }

    @media (prefers-color-scheme: dark) {
      border-bottom: 7px solid $darkText;
    }

    .point {
      font-size: 70px;
      line-height: 32px;

      @media screen and (min-width:992px) {
        line-height: 40px;
      }
    }
  }

  &-list {
    margin-top: 20px;

    @media screen and (min-width:1200px) {
      margin: 50px 0 0 50%;
    }
  }

  &-item {
    &:not(:first-child) {
      margin-top: 30px;
    }

    &-title {
      font-size: 18px;
      font-weight: bold;
      font-family: 'Abril Fatface', serif;
      font-style: italic;
      margin-bottom: 10px;
      letter-spacing: 0.2px;

      .point {
        color: $lightPointColor;
        font-size: 30px;
        line-height: 18px;

        @media (prefers-color-scheme: dark) {
          color: $darkPointColor;
        }
      }

      @media screen and (min-width:576px) {
        font-size: 24px;

        .point {
          font-size: 40px;
          line-height: 24px;
        }
      }
    }

    &-desc {
      position: relative;
      padding-left: 20px;
      margin-bottom: 5px;

      &::before {
        width: 13px;
        height: 1px;
        background-color: $lightText;
        @include position(absolute, 10px, null, null, 0);
        content: '';

        @media (prefers-color-scheme: dark) {
          background-color: $darkText;
        }
      }
    }

    &-icon {
      display: inline-block;
      width: 30px;
      border: 1px solid $lightBoarder;
      border-radius: 3px;
      margin-top: 15px;

      @media (prefers-color-scheme: dark) {
        border: 1px solid $darkBoarder;
      }

      &:not(:last-child) {
        margin-right: 5px;
      }

      &-image {
        vertical-align: top;
      }
    }
  }
}