:root {
  --background: transparent;
  --text: #222;
  --anchor-text: #b34831;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222;
    --text: #efefef;
    --anchor-text: #ffae00;
  }
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  letter-spacing: -.2px;
  font-size: 14px;
  line-height: 1.5;
  word-break: keep-all;
  font-family: 'Inter', 'Pretendard-Regular', sans-serif;
  background: var(--background);
  color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

dl,
dd {
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  border-radius: 0;
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}